
#appTitle{
    -fx-font-family: 'Impact';
}

.button {
    -fx-background-color: #969696;
    -fx-text-fill: #eeeeee;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;

}

#boardButton{
    -fx-font-size: 20px;
}

#boardButton:hover{
    -fx-background-color: #7c7c7c;
}

#creditsButton{
    -fx-font-size: 20px;
}

#creditsButton:hover{
    -fx-background-color: #7c7c7c;
}

#exitButton{
    -fx-font-size: 20px;
}

#exitButton:hover{
    -fx-background-color: #7c7c7c;
}

#narysuj:hover{
     -fx-background-color: #20d895;
     -fx-text-fill: #000000;
}
#wyskaluj:hover{
    -fx-background-color: #c6f42e;
    -fx-text-fill: #000000;

}
#predkosc:hover{
    -fx-background-color: #e5222c;
    -fx-text-fill: #eeeeee;
}

#backToMenuButton:hover{
    -fx-background-color: #ef2832;

}

.check-box {
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #28a3f4;
}